@import url("./animations.scss");
@import url("./modifiers.scss");

@font-face {
  font-family: "Nulshock";
  src: url("/src/assets/fonts/Nulshock.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Railway";
  src: url("/src/assets/fonts/Railway.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --coffeeUI: #0f0906;
  --coffeeUIAccent: #ce9426;
  --coffeeUISubtleText: #81521c;
  --btn-color1: #d3671f;
  --btn-color1-hovered: #fa930c;

  /* Spacing */
  --spacing-sm: 5px;
  --spacing-md: 10px;
  --spacing-lg: 20px;

  /* Font sizes */
  --font-size-sm: 0.8em;
  --font-size-md: 1em;
  --font-size-lg: 1.2em;

  /* Animations */
  --transition-speed: 0.2s;
  --animation-timing: ease-in-out;
}

.canvas-container-coffee {
  animation: fade-in 0.8s forwards;
}

.canvas-container-coffee {
  user-select: none;
}

.coffee-ui-title {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--coffeeUI);
  border-bottom: 3px solid var(--coffeeUIAccent);
  display: flex;
  align-items: center;
  position: relative;
}

.coffee-ui-title .title {
  font-size: 2.2em;
  margin-left: 10px;
  color: transparent;
  font-family: "Nulshock", sans-serif;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--coffeeUIAccent);
}

.title-ascii {
  font-size: 8px;
}
.ascii {
  font-family: monospace;
  white-space: pre;
  line-height: 1.2;
}

.ascii-line {
  display: block;
}

.ascii-char {
  display: inline-block;
}

.coffee-ui-title:before {
  content: "";
  background-image: url("/src/assets/img/dot.png");
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.coffee-ui-title .sub-title {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.coffee-ui-title .sub-title span {
  font-size: 1em;
  right: 10px;
  font-family: "Railway", sans-serif;
  color: var(--coffeeUISubtleText);
}

/* BUTTONS /////////////////////////////////////////// */

.coffee-ui-buttons {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.coffee-ui-buttons::before {
  content: "";
  background-image: url("/src/assets/img/dot.png");
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.coffee-ui-buttons .top-ui {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--coffeeUI);
  box-shadow: 1px 9px 18px -2px rgba(0, 0, 0, 0.521);
  position: relative;
}

.coffee-ui-buttons .top-ui:before {
  content: "";
  background-image: url("/src/assets/img/dot.png");
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.coffee-ui-button {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  color: black;
  background-color: var(--btn-color1);
  font-family: "Barlow", sans-serif;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.coffee-ui-button:hover {
  cursor: pointer;
  background-color: var(--btn-color1-hovered);
  color: #000000;
}
.coffee-ui-button span {
  z-index: 2;
}
.coffee-ui-button:before,
.coffee-ui-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e4b023;
  transition: width 0.2s ease-in-out;
}
.coffee-ui-button:before {
  top: 0;
  left: 0;
  transition-delay: 0.1s;
}
.coffee-ui-button:after {
  bottom: 0;
  right: 0;
  transition-delay: 0.1s;
}
.coffee-ui-button:hover:before,
.coffee-ui-button:hover:after {
  width: 50%;
}
.coffee-ui-button:before,
.coffee-ui-button:after {
  content: "";
  position: absolute;
  height: 0;
  width: 3px;
  background-color: #e4b023;
  transition: height 0.2s ease-in-out;
}
.coffee-ui-button:hover:before {
  left: 0;
  top: 0;
  height: 100%;
  transition-delay: 0.2s;
}
.coffee-ui-button:hover:after {
  right: 0;
  bottom: 0;
  height: 100%;
  transition-delay: 0.2s;
}
.quantity-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1em;
  max-height: 80px;
  flex-wrap: wrap;
}

.coffee-button-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: -webkit-fill-available;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.bar {
  margin: 0;
  padding: 0;
  font-family: monospace;
  white-space: pre;
}

/* TERMINAL /////////////////////////////////////////// */

.terminal {
  color: var(--coffeeUIAccent);
  font-family: monospace; /* Important for ASCII art alignment */
  height: 100%;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  background-image: linear-gradient(
    180deg,
    hsl(20deg 43% 4%) 72%,
    hsl(23deg 32% 8%) 91%,
    hsl(22deg 31% 11%) 97%,
    hsl(23deg 34% 15%) 99%,
    hsl(25deg 36% 18%) 101%,
    hsl(26deg 38% 21%) 101%,
    hsl(27deg 39% 24%) 102%,
    hsl(29deg 40% 27%) 102%,
    hsl(30deg 41% 30%) 101%,
    hsl(31deg 42% 33%) 101%,
    hsl(33deg 43% 36%) 101%,
    hsl(34deg 44% 39%) 100%,
    hsl(35deg 44% 42%) 100%
  );
  position: relative;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.terminal .lines-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.terminal-output {
  font-size: 14px;
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.5em;
  /* margin-left: 1em; */
}

/* Style the scrollbar track */
.terminal .lines-container::-webkit-scrollbar {
  width: 12px;
}

.terminal .lines-container::-webkit-scrollbar-track {
  background: #1a1410;
}

/* Style the scrollbar thumb */
.terminal .lines-container::-webkit-scrollbar-thumb {
  background: #2b231b;
}

.terminal .lines-container::-webkit-scrollbar-thumb:hover {
  background: #443620;
}

/* BOTTOM BUTTONS /////////////////////////////////////////// */

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #2c3034;
  overflow: hidden;
}

.brew-button {
  position: absolute;
  right: -20px;
}

.brew-btn-prompt .btn-body,
.brew-btn-prompt .btn-tail {
  animation: color-pulse 0.8s infinite ease-in-out;
}

@keyframes color-pulse {
  0% {
    filter: brightness(1) hue-rotate(0deg)
      drop-shadow(0 0 4px rgba(255, 196, 0, 0.5));
  }
  50% {
    filter: brightness(1.5) hue-rotate(20deg)
      drop-shadow(0 0 12px rgb(255, 196, 0));
  }
  100% {
    filter: brightness(1) hue-rotate(0deg)
      drop-shadow(0 0 4px rgba(255, 166, 0, 0.5));
  }
}

.brew-button .btn-body {
  position: relative;
  min-width: 150px;
}

.brew-button p {
  letter-spacing: 1px;
  font-family: "Nulshock", monospace;
  text-transform: uppercase;
  transform: skewX(35deg);
}

.btn-wrapper:not(:first-child) {
  margin-top: 15px;
}

.small-buttons {
  display: flex;
}

.small-buttons .btn {
  cursor: pointer;
  min-width: 65px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  transition: box-shadow 0.1s ease;
}

.small-buttons .btn-wrapper:hover {
  background-color: var(--btn-color1-hovered);
}

.small-buttons .btn:not(:last-child) {
  border-right: 2px solid #3a150d;
}

.small-buttons .btn-wrapper {
  color: black;
  background-color: var(--btn-color1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease;
}

.small-buttons .btn-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-buttons p {
  margin: 0;
}

.small-buttons .btn-wrapper:active,
.coffee-ui-button:active,
.brew-button .btn-body:active,
.coffee-quantities .recipes-btn:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3),
    inset -1px -1px 3px rgba(255, 255, 255, 0.2);
  background-color: #c06010;
  transform: translateY(1px);
}

.brew-button .btn-wrapper {
  display: grid;
  grid-template-columns: 10px auto;
  grid-gap: 10px;
  transform: skewX(-35deg);
  cursor: pointer;
  --bg-color: #b55016;
  --font-color: #000000;
  --bg-color-hovered: #d9c01e;
  --font-color-hovered: #000000;
}

.brew-button .btn-wrapper > * {
  background-color: var(--btn-color1);
}

.btn-wrapper:hover .btn-tail {
  background-color: var(--bg-color-hovered);
}

.btn-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.btn-wrapper:hover .btn-body {
  color: var(--font-color-hovered);
}

.btn-body::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-color-hovered);
  transition: all 0.2s ease-out;
}

.btn-wrapper:hover .btn-body::before {
  width: 100%;
}

.btn-wrapper:hover .btn-tail {
  transition: none;
}

/* UI INFO /////////////////////////////////////////// */
.coffee-ui-info {
  border-top: 2px solid black;
  grid-area: 3 / 1 / 5 / 2;
  background-color: #1c2831;

  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: auto 1fr 1fr;
  position: relative;
}

.coffee-ui-info .top-info {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 42px;
}

.coffee-ui-money {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  grid-area: 1 / 2 / 2 / 2;
  border-bottom: 1px solid #ce9426;
}
.money__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-lg);
}
.money__text__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}
.money__text {
  padding: 0;
  margin: 0;
}

.money__number__container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.money__number {
  padding: 0;
  margin: 0;
}

.coffee-ui-resources {
  background-color: #0e0e0e;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.coffee-ui-resources .resource-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.resource-info {
  background-color: #171e21;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
  font-weight: bold;
}

.resource-info:not(:last-child) {
  border-right: 1px solid var(--coffeeUI);
}

.resource-info img {
  width: 24px;
  height: 24px;
}
.resource-info span {
  display: inline-block;
  text-align: right;
  min-width: 40px;
}
.coffee-quantities .recipes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.coffee-quantities .recipes-btn:hover {
  cursor: pointer;
  background-color: #ce9426;
  color: black;
  transition: background-color 0.2s ease-in-out;
}

.recipes-btn span {
  font-family: "barlow", sans-serif;
}

.coffee-quantities {
  margin: 0;
  padding: 0;
  /* max-width: 130px; */
  background-color: #2c3034;
  list-style: none;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 4 / auto;
}

.coffee-quantities li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0f0906;
}
.coffee-quantities li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0906;
  height: 100%;
}
.coffee-quantities .coffee-name {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.coffee-quantities .coffee-name span {
  margin-left: 18px;
}

.coffee-quantities .quantity {
  background-color: black;
  width: 100%;
  max-width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-ui {
  z-index: 2;
}
/* TEXT WINDOW /////////////////////////////////////////// */
.coffee-ui-textWindow {
  grid-area: 3 / 2 / 5 / 3;
  background-color: var(--coffeeUI);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #3e4e53;
}

.coffee-ui-textWindow .textBG {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  /* background-color: #1f203747; */
  background-color: #080f1a;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.message-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.customerInner {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  --avatarColorDefault: #46b4d69a;
  border-right: 1px solid var(--avatarColorDefault);
  border-left: 1px solid var(--avatarColorDefault);
  position: relative;
}

.customerInner-bg {
  opacity: 0.15;
  background-image: url("/src/assets/img/av-bg.png");
  position: absolute;
  width: 100%;
  height: 100%;
  filter: sepia(1) hue-rotate(360deg) saturate(20);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.avatar-container img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-color: var(--avatarColorDefault);
  border-radius: 5px;
  border: 1px solid aliceblue;
  display: flex;
  justify-self: center;
}

.allText-container,
.allText-container-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allText-container {
  grid-area: 1/2/2/2;
}
.allText-container-result {
  grid-area: 1/1/3/3;
}

.textInner-container {
  grid-area: 1/2/2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50%;
}
.textContainer {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  list-style: none;
  color: #df9f6c;
  position: relative;
  padding: 0;
  animation: fade-in 0.5s ease;
}

.textContainer::before {
  content: "";
  background-image: url("/src/assets/img/dot.png");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.customerName {
  font-size: 14px;
  font-family: "Nulshock", sans-serif;
  color: black;
  padding: 5px;
  margin-bottom: 8px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #7ddfd6c2;
  background-color: #3eddbbb0;
}
.textInner {
  max-width: 600px;
  width: -webkit-fill-available;
  box-sizing: border-box;
  background-color: #1b3642de;
  color: aliceblue;
  border: 2px solid #468aa5;
  transition: height 0.2s ease;
  transition: width 0.2s ease;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}
.result-success {
  background-color: #1b4236de !important;
  color: #c6ffe2;
  border: 2px solid #3ea76a;
}

.result-fail {
  background-color: #4a1313 !important;
  color: #ffd2d2;
  border: 2px solid #d36f3d;
}

.textInner p {
  margin: 0;
  font-size: 22px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break: break-word;
  hyphens: auto;
  padding: 10px;
}

/* Day END TABLE ///////////////////////// */

.day-end-stats {
  border-collapse: collapse;
  font-family: "Orbitron", sans-serif;
  color: #00ffee; /* Neon cyan text */
  background: rgba(15, 25, 35, 0.8);
  border: 2px solid #83ecde; /* Neon cyan border */
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.day-end-stats td {
  padding: 8px 12px;
  border-bottom: 1px solid rgba(0, 255, 238, 0.3); /* Subtle neon divider */
  text-align: left;
}

.day-end-stats tr:last-child td {
  border-bottom: none;
}

.day-end-stats td:first-child {
  font-weight: bold;
  color: #ffffff; /* White for labels */
}

.day-end-stats td:last-child {
  text-align: right;
  color: #00ff99; /* Slightly greenish neon for numbers */
}

.tool-tip {
  position: fixed;
  background: rgba(8, 15, 26, 0.95);
  color: #00ffff;
  padding: 8px 12px;
  border: 1px solid #00ffff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 80%);
  pointer-events: none;
  z-index: 100;
  font-family: "Monaco", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.tool-tip-bg:after {
  content: "";
  background-image: url("/src/assets/img/dot.png");
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Sci-fi UI ///////////////////////// */

.diamonds {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 12px;
  top: 50%;
  left: 45%;
}

.diamonds span {
  --diamond-color: #62749e;
  border: 1px solid var(--diamond-color);
  width: 12px;
  height: 12px;
  rotate: 45deg;
  animation: waveAnimation 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.diamonds span:nth-child(1) {
  animation-delay: 0s;
}
.diamonds span:nth-child(2) {
  animation-delay: 0.3s;
}
.diamonds span:nth-child(3) {
  animation-delay: 0.6s;
}
.diamonds span:nth-child(4) {
  animation-delay: 0.9s;
}

.scifi-panel1 {
  grid-area: 3 / 1 / 4 / 4;
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 2px solid #0e1016;
}

/* TRIANGLE HOLES /////////////////////////////// */

.triangles-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 3%;
  width: 60px;
  height: 60px;
  background-color: #334146;
  border: 2px solid #0e1016;
  border-radius: 50%;
  animation: rotate 15s linear infinite;
}

.triangles-container .triangle-holes {
  position: absolute;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border-radius: 50%;
  border: 1px solid #11141d;
}

.triangles-container .triangle-holes .hole {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #11141d;
}

.triangles-container .triangle-holes .row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.triangles-container .triangle-holes .row:last-child {
  padding-top: 4px;
}

.cut-line-info {
  height: 100%;
  width: 10px;
  bottom: 0;
  right: 20%;
  background-image: linear-gradient(
    270deg,
    hsl(206deg 27% 15%) 3%,
    hsl(205deg 27% 16%) 8%,
    hsl(205deg 27% 17%) 11%,
    hsl(204deg 28% 17%) 12%,
    hsl(204deg 28% 18%) 14%,
    hsl(203deg 28% 19%) 16%,
    hsl(203deg 28% 20%) 19%,
    hsl(202deg 28% 21%) 22%,
    hsl(202deg 28% 21%) 26%,
    hsl(201deg 28% 22%) 32%,
    hsl(201deg 28% 23%) 40%,
    hsl(200deg 28% 24%) 53%,
    hsl(200deg 29% 25%) 87%
  );
  border-left: 3px solid #11141d;
}

/*  STORE //////////////////////////////*/
.store__container {
  grid-area: 2/1/4/2;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* animation: fade-in 3s forwards; */
}
.store__items-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.store__items {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.store__item {
  background-color: rgba(0, 0, 0, 0.678);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}
.store__item:hover {
  background-color: aliceblue;
  color: black;
}
.store__item:active {
  background-color: rgb(0, 225, 255);
}

.store__item-title {
  margin-left: 10px;
  min-width: 50px;
}

.store__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: cover;
}

.store__sales {
  display: flex;
  width: 100%;
  z-index: 1;
}

.store__total-price {
  min-width: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.store__total-price-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.store__total-text-container {
  margin-right: 10px;
}

.sales__button {
  background-color: #0e0e0e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid black;
}
.sales__button:hover {
  background-color: white;
  color: black;
}

.canvas-container-coffee {
  display: grid;
  grid-template-columns: 545px 1fr;
  grid-template-rows: 80px 500px 1fr 1fr;
  grid-area: 1 / 2 / 5 / 5;
  color: var(--coffeeUIAccent);
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  container-type: inline-size;
  container-name: canvas-container;
}

.canvas-coffee {
  grid-area: 1 / 3 / 3 / 2;
  /* Prevent unnecessary repaints */
  transform: translateZ(0);
  /* Ensure smoother scaling */
  backface-visibility: hidden;
  /* Fixed dimensions to prevent reflow */
  width: 864px;
  height: 580px;
  z-index: 99;
}

.canvas-img-container {
  width: 100%;
  height: 100%;
  grid-area: 1/2/3/2;
  position: relative;
  background-color: #4e1b00;
}
.canvas-img-container:before {
  content: "";
  height: 35%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0 0 0));
  z-index: 1;
}

.canvas-img-container:after {
  content: "";
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0 0 0));
  z-index: 1;
}
.canvas-img {
  height: 100%;
  width: 100%;
  opacity: 12%;
  object-fit: cover;
}

/* OVERLAY ///////////////////////////////// */
.canvas__overlay-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.canvas__overlay {
  width: 100%;
  height: 100%;
}
.overlay__sales {
  position: relative;
}

/* CUSTOMER QUEUE ///////////////////////////////// */

.customerqueue__container {
  position: absolute;
  bottom: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.customerqueue__icon {
  background-color: var(--coffeeUIAccent);
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.customerqueue__icon img {
  width: 100%;
  height: 100%;
}
.queue-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COFFEE QUEUE ///////////////////////////////// */
.coffee-queue__container {
  background-color:  rgba(0, 0, 0, 0.288);
  width: 100px;
  padding: 10px;
  border-radius: 10%;
  position: relative;
  box-sizing: content-box;


.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
}


/* TIME BAR ///////////////////////// */

.timebar__container {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px;
right: 2%;
bottom: 10%;
  // background-color: rgb(0, 0, 0);

.timebar {
  height: 100%;
  width: 10px;
  overflow: hidden;
  position: relative;
}
.timebar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: var(--coffeeUIAccent);
  // transform: translateY(-100%);
  transition: all 60s linear;
}
.timebar.animate::before {
  transform: translateY(100%);
  background-color: #eb3d12;
}

.timebar-text__container {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 15px;

.timebar-text {

}
}
}

.score__container {
  position: absolute;
  right: 3%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;

  .score-number__container,
  .highscore-number__container,
  .score-combo__container {
    display: flex;
    align-items: baseline;
    gap: 5px;
  }

  .score-number,
  .highscore-number,
  .combo-number {
    font-size: 1rem;
    font-weight: bold;
    color: #ffcc00; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .score-text,
  .highscore-text,
  .combo-text {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .highscore-number {
    color: #ff6600; 
  }

  .combo-number {
    color: #00ffcc; 
  }
}

/* MEDIA QUERIES ///////////////////////// */
@media (max-width: 1550px) or (max-height: 790px) {
  .canvas-container-coffee {
    grid-template-columns: 365px 1fr;
    grid-template-rows: 70px 1.618fr auto;
    max-width: 1020px;
    min-width: 1020px;
    max-height: 588px;
    min-height: 588px;
    position: relative;
  }

  .canvas-coffee {
    width: 495px;
    height: 586px;
    grid-area: 1/ 2 / 4 / 3;
  }

  .coffee-ui-title {
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-area: 1/ 1 / 2 / 1;
    gap: 10px;
  }

  .coffee-ui-title .title {
    font-size: 1.6em;
  }

  .title-ascii {
    font-size: 6px;
  }

  .coffee-ui-title .sub-title {
    font-size: 0.6em;
  }

  .coffee-ui-buttons .top-ui {
    border-bottom: 0px;
  }

  .coffee-ui-buttons {
    grid-area: 2/ 1 / 4/ 2;
  }

  .coffee-ui-info {
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 245px 1fr;
    grid-template-rows: auto 1fr;
  }

  .quantity-bar {
    display: block;
    font-size: 11px;
    width: 61px;
    line-height: 0.8em;
  }

  .coffee-quantities {
    font-size: 14px;
  }

  .coffee-ui-textWindow {
    margin-left: 0;
    margin-right: 0;
    grid-area: auto / 2 / auto / 3;
    height: 100%;
    min-height: 142px;
  }
  .coffee-ui-textWindow .textBG {
    margin-left: 5px;
    margin-right: 5px;
  }

  .textInner {
    padding: 5px;
  }
  .textInner p {
    font-size: 20px;
  }

  .message-container {
    grid-template-columns: 160px 1fr;
  }
  .customerName {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .textInner-container {
    height: 70%;
  }

  .terminal {
    height: 100%;
    font-size: 14px;
  }

  .terminal-output {
    line-height: 1.3em;
  }

  .diamonds {
    gap: 8px;
  }
  .diamonds span {
    width: 8px;
    height: 8px;
  }

  .triangles-container {
    width: 50px;
    height: 50px;
  }

  .coffee-button-group {
    margin-top: 5px;
  }

  .triangles-container .triangle-holes {
    gap: 7px;
  }

  .triangles-container .triangle-holes .row {
    gap: 7px;
    padding: 0 !important;
  }

  .triangles-container .triangle-holes .row .hole {
    width: 10px;
    height: 10px;
  }

  .resource-info img {
    width: 20px;
    height: 20px;
  }
  .resource-info span {
    font-size: 14px;
    min-width: 20px;
  }

  .money__text__container {
    margin-right: 10px;
    font-size: var(--font-size-sm);
  }

  .money__number__container {
    font-size: var(--font-size-md);
  }

  .coffee-quantities .coffee-name span {
    margin-left: 8px;
  }

  .coffee-quantities .quantity {
    max-width: 30px;
  }
}
